table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: #333333;
    color: #ffffff !important;
    // overflow-x: scroll;
    overflow-x: hidden;
  }
  .mat-row {
    height: auto;
  }
  
  .mat-cell, .mat-header-cell {
    color: #ffffff !important;
    // overflow-x: scroll;
    padding: 10px 10px 10px 0;
  }
  
  tr.mat-header-row {
    color: #ffffff !important;
    // overflow-x: scroll;
    background-color: #1b1a1a;
  }
  .mat-row:nth-child(even) {
    color: #ffffff !important;
    // overflow-x: scroll;
    background-color: rgba(201, 201, 201, 0.4);
  }