<h2>Update Personal Details</h2>
<form [formGroup]="detailsForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="First Name" formControlName="firstName">
    <mat-error *ngIf="detailsForm.get('firstName').valid || detailsForm.get('firstName').untouched">
      First Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Last Name" formControlName="lastName">
    <mat-error *ngIf="detailsForm.get('lastName').valid || detailsForm.get('lastName').untouched">
      Last Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="dp3" placeholder="Date of Birth"  formControlName="birthDate" disabled>
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    <mat-error *ngIf="detailsForm.get('birthDate').valid || detailsForm.get('birthDate').untouched">
      Date of Birth is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <div class="pull-right">
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="updateDetails()" [disabled]="detailsForm.invalid || detailsForm.untouched">Save</button>
  </div>
</form>